.titulo {color:#2B3534;
    font-family: 'Dancing Script', cursive; 
    font-size: 40pt;
    text-align: center;
    margin-top: 50px;
    font-style: bold;}

.titulo2 {color:#2B3534; 
     font-family: 'Dancing Script', cursive; 
     font-size: 35pt; 
     text-align: center;}

     
.titulo4 {color:#2B3534; 
     font-family: 'Dancing Script', cursive; 
     font-size: 35pt; 
     text-align: center;}
         
.texto {color:#2B3534; 
   font-family: 'Ubuntu', sans-serif; 
   font-size: 12pt;
   font-style: italic; 
   text-align: center;}

.texto1 {color: #2B3534; 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 12pt;
    font-style: bold;
    text-align: center;}